.promo__block {
  margin-bottom: 140px;
  display: grid;
  grid-template-columns: repeat(6, minmax(130px, 245px));
  grid-template-rows: repeat(4, minmax(130px, 245px));
  row-gap: 26px;
  column-gap: 60px;
  justify-content: space-between;
  grid-template-areas:
    "book clock sneakers sneakers boxes boxes"
    "boots boots sneakers sneakers laptop laptop"
    "ny2022 ny2022 ny2022 ny2022 woman chemistry"
    "ny2022 ny2022 ny2022 ny2022 woman balls";
}

.promo__card {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  width: 100%;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
}

.promo__item--book {
  grid-area: book;
  background-image: url("../../image/book.jpg");
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 20px 27px;
  flex-wrap: wrap;
}

.promo__item--book::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%);
  border-radius: 20px;
}

.promo__text {
  position: relative;
  /* justify-self: flex-start; */
}

.promo__text span {
  font-weight: 800;
  font-size: 40px;
  line-height: 130%;
}

.promo__item--clock {
  grid-area: clock;
  background-image: url("../../image/clock.jpg");
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 27px 14px;
}

.promo__item--clock .promo__discount {
  align-self: flex-end;
}

.promo__item--clock::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
  border-radius: 20px;
}

.promo__discount {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--discont-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promo__item--boots {
  grid-area: boots;
  background-image: url("../../image/boots.jpg");
  position: relative;
  padding: 20px;
}

.promo__item--boots::before {
  position: relative;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(180.99deg, rgba(0, 0, 0, 0) 8.18%, rgba(0, 0, 0, 0.2) 99.15%);
  border-radius: 20px;
}

.promo__item--sneakers {
  grid-area: sneakers;
  background-image: url("../../image/sneakers.jpg");
  position: relative;
  padding: 20px;
  display: flex;
  align-items: end;
}

.promo__item--sneakers::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%);
  border-radius: 20px;
}

.promo__item--sneakers .promo__present {
  position: relative;
  background-color: #38C0EB;
  border-radius: 40px;
  padding: 21px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
  width: 100%;
  justify-content: center;
  /* text-align: center; */
}

.promo__item--sneakers .promo__present span {
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
}

.promo__item--boxes {
  grid-area: boxes;
  background-image: url("../../image/boxes.jpg");
  position: relative;
  padding: 30px 125px 30px 30px;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}

.promo__item--boxes::before {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.46%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 20px;
}

.promo__item--laptop {
  grid-area: laptop;
  background-image: url("../../image/laptop.jpg");
  position: relative;
  padding: 30px 20px 20px 30px;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}

.promo__item--laptop::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}

.promo__wrap--laptop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.promo__item--ny2022 {
  grid-area: ny2022;
  /* 2022 */
  background-image: url("../../image/2022.jpg");
  position: relative;
  padding: 50px;
  display: flex;
  align-items: end;
}

.promo__item--ny2022:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%);
  border-radius: 20px;
}

.promo__item--ny2022 .promo__message {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #F91155;
  text-transform: uppercase;
  padding: 30px 43px 30px 40px;
  background-color: #ffffff;
  border-radius: 20px;
}

.promo__item--woman {
  grid-area: woman;
  background-image: url("../../image/woman.jpg");
  background-position: top;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.promo__item--woman::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
  border-radius: 20px;
}

.promo__item--chemistry {
  grid-area: chemistry;
  background-image: url("../../image/chemistry.jpg");
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 20px 37px 20px;
}

.promo__item--chemistry::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
  border-radius: 20px;
}

.promo__item--10 {
  grid-area: balls;
  background-image: url("../../image/balls.jpg");
}

.promo__item10::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 20px;
}


/* ********************************************************************************************************************* */

@media (max-width:1700px) {
  .promo__block {
    column-gap: 20px;
  }
}

@media (max-width:1250px) {
  .promo__block {
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "book clock sneakers sneakers"
      "boots boots sneakers sneakers "
      "boxes boxes woman chemistry"
      "laptop laptop woman balls"
      "ny2022 ny2022 ny2022 ny2022"
      "ny2022 ny2022 ny2022 ny2022";
    column-gap: none;
    margin-bottom: 100px;
  }

  .promo__card {
    border-radius: 16px;
    font-size: 24px;
  }

  .promo__text span {
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
  }

  .promo__item--book {
    padding: 9px 36px 32px 9px;
  }

  .promo__item--clock {
    padding: 54px 10px 10px 9px;
  }

  .promo__item--boots {
    padding: 17px 10px;
  }

  .promo__item--sneakers .promo__present {
    padding: 24px 27px 32px 25px;
  }

  .promo__item--sneakers .promo__present span {
    font-size: 36px;
  }

  .promo__item--boxes {
    padding: 27px 30px;
    font-size: 30px;
  }

  .promo__item--laptop {
    padding: 10px 10px 10px 30px;
    font-size: 30px;
  }

  .promo__item--ny2022 {
    padding: 39px 30px;
  }

  .promo__item--ny2022 .promo__message {
    font-size: 30px;
    padding: 24px 46px 23px 47px;
    border-radius: 16px;
  }

  .promo__item--woman {
    padding: 10px 23px;
  }

  .promo__item--chemistry {
    padding: 10px 0px 19px 6px;
  }

  .promo__item--chemistry::before,
  .promo__item--woman::before,
  .promo__item--10::before,
  .promo__item--ny2022::before,
  .promo__item--laptop::before,
  .promo__item--boxes::before,
  .promo__item--sneakers::before,
  .promo__item--boots::before,
  .promo__item--clock::before,
  .promo__item--book::before {
    border-radius: 16px;
  }

}


@media (max-width:768px) {
  .promo__block {
    column-gap: 20px;
    grid-template-columns: 3fr 3fr 4fr 2fr;
    grid-template-rows: 130px 126px 70px 36px 49px 83px 337px;
    grid-template-areas:
      "book clock sneakers sneakers"
      "boots boots sneakers sneakers"
      "boxes boxes sneakers sneakers"
      "boxes boxes woman chemistry"
      "laptop laptop woman chemistry"
      "laptop laptop woman balls"
      "ny2022 ny2022 ny2022 ny2022";
    row-gap: 8px;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .promo__card {
    border-radius: 12px;
    font-size: 16px;
  }

  .promo__text span {
    font-size: 26px;
  }

  .promo__item--book {
    padding: 0px 3px 15px 10px;
  }

  .promo__item--clock {
    padding: 15px 10px 10px 5px;
  }

  .promo__discount {
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
  }

  .promo__item--boots {
    padding: 10px 10px;
  }

  .promo__item--sneakers {
    padding: 10px;
  }

  .promo__item--sneakers .promo__present {
    padding: 12px 30px 20px 36px;
    border-radius: 12px;
    line-height: 110%;
    font-size: 16px;
  }

  .promo__item--sneakers .promo__present span {
    font-weight: 700;
    font-size: 26px;
    line-height: 110%;
  }

  .promo__item--chemistry {
    padding: 3px 7px 11px 3px;
  }

  .promo__item--chemistry .promo__discount {
    width: 36px;
    height: 36px;
    font-size: 12px;
  }

  .promo__item--chemistry .promo__text {
    font-size: 12px;
    line-height: 14.4px;
  }

  .promo__item--chemistry::before,
  .promo__item--woman::before,
  .promo__item--10::before,
  .promo__item--ny2022::before,
  .promo__item--laptop::before,
  .promo__item--boxes::before,
  .promo__item--sneakers::before,
  .promo__item--boots::before,
  .promo__item--clock::before,
  .promo__item--book::before {
    border-radius: 12px;
  }
}

@media (max-width:450px) {
  .promo__block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 118px 280px 118px 118px 130px 130px 123px;
    grid-template-areas:
      "book clock"
      "boots boots"
      "sneakers sneakers"
      "boxes boxes"
      "laptop laptop"
      "woman chemistry"
      "woman balls"
      "ny2022 ny2022";
    row-gap: 20px;
    margin-bottom: 70px;
  }

  .promo__card {
    border-radius: 8px;
    font-weight: 800;
    font-size: 12px;
    line-height: 130%;
  }

  .promo__item--book {
    padding: 10px 40% 10px 10px;
    flex-wrap: wrap;
  }

  .promo__text span {
    font-size: 14px;
  }

  .promo__item--clock {
    padding: 28px 5px 5px 10px;
  }

  .promo__item--boots {
    padding: 5px;
  }

  .promo__item--sneakers {
    padding: 10px;
  }

  .promo__item--sneakers .promo__present {
    border-radius: 8px;
    padding: 7px 25px 11px 25px;
    font-size: 12px;
    line-height: 110%;
    text-align: center;
  }

  .promo__item--sneakers .promo__present span {
    font-size: 16px;
    line-height: 110%;
  }

  .promo__item--boxes {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 130%;
  }

  .promo__item--laptop {
    padding: 5px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .promo__item--chemistry {
    padding: 5px 3px 10px 9px;
  }

  .promo__item--chemistry .promo__discount {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  .promo__item--chemistry .promo__text {
    font-size: 12px;
  }

  .promo__item--ny2022 {
    padding: 10px 15px;
  }

  .promo__item--ny2022 .promo__message {
    font-size: 12px;
    padding: 7px 41px;
    border-radius: 6px;
  }

  .promo__item--chemistry::before,
  .promo__item--woman::before,
  .promo__item--10::before,
  .promo__item--ny2022::before,
  .promo__item--laptop::before,
  .promo__item--boxes::before,
  .promo__item--sneakers::before,
  .promo__item--boots::before,
  .promo__item--clock::before,
  .promo__item--book::before {
    border-radius: 8px;
  }
}